.menu {
  position: fixed;
  height: 100vh;
  width: 60%;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 1px 1px 10px #aaa3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;

  &__top {
    &__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      button {
        border: none;
        background-color: transparent;
        font-size: 18px;
      }
    }

    &__form {
      border: 2px solid #6c7275;
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding: 0px 10px;
      margin: 10px 0px;
      input {
        padding: 6px;
        flex-grow: 1;
        outline: none;
        border: none;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &__item {
      border-bottom: 1px solid #e8ecef;
      padding: 5px 0px;
      &-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &__bottom {
    &__item {
      display: flex;
      flex-direction: column;
    }

    &__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0px;
      gap: 10px;
      //styleName: Button M;
      font-family: Inter;
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -0.4000000059604645px;
      text-align: left;
      color: #6c7275;
      border-bottom: 1px solid #e8ecef;
    }

    &__sign {
      padding: 10px 0px;
      button {
        width: 100%;
        padding: 8px;
        border-radius: 6px;
        background-color: black;
        color: white;
        border: none;
      }
    }

    &__icons {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
    }
  }

  @media (max-width: 450px) {
    width: 100%;
  }
}