.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: black;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 26px 15px 18px;

    h1 {
      color: white;
      font-size: 22px;
      font-weight: 400;
    }

    img {
      width: 30px;
      height: 30px;
      color: white;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0px 10px;

    img {
      width: 20px;
    }
  }

  &__left__text {
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
    transform: 0.5s;
    width: 300px;
    padding: 12px 15px;
    border-left: 2px solid transparent;
    text-wrap: nowrap;

    svg {
      font-size: 18px;
    }
  }

  &__left__text:hover {
    border-left: 2px solid gray;
    background-color: #aaa1;
  }

  &__left__text.active {
    background-color: #aaa2;
    border-left: 2px solid gray;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  &__btns__info {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    text-wrap: nowrap;
                      
    &-text {
      color: white;
      font-size: 18px;
    }

    svg {
      font-size: 18px;
      color: white;
    }
  }
}